<%= form_with(model: pilot, local: true) do |form| %>
  <% if pilot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pilot.errors.count, "error") %> prohibited this pilot from being saved:</h2>

      <ul>
        <% pilot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :simulator %>
    <%= form.text_field :simulator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
